/* ====== Reset ====== */
*{
	margin: 0;
	padding: 0;
	font-size: 100%;
	border: none;
	outline: none;
	font-weight: 300;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;

}
body{
	background-color: #f5f5f5;

}
a{
	text-decoration: none;

}
ul{
	list-style:  none;
}
img{
	width: 100%;
}
/* Container */
.container{
	width: 100%;
	float: left;
	padding: 3% 4%;
	text-align: center;
}
/* BG Colors */
.bg-gradient{
	background: linear-gradient(to right, #CE2E3C, #DA6709);
}
.bg-black{
	background-color: #130400;
}
.bg-white{
	background-color: #FFF;
}
/* Helpers */
.radius{
	border-radius: 7px;
}
/* Font Colors */
.font-white-size{
	color: #FFF;
	font-size: 1.5em;
}
/* Cabeçalho */
.logo{
	width: 56px;
	height: 56px;
	float: left;
	background: url('../img/logo-mobile.png') no-repeat center center/56px;
	font-size: 0;
}
.btn-menu{
	width: 56px;
	height: 56px;
	float: right;
	border-radius: 50px;
	

}
.menu{
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0, 0, 0, 0.9);
	top: 0;
	left: 0;
}
.btn-close{
	margin: 2% 3% 0 0;
	float: right;
}
.menu ul {
	width: 100%;
	float: left;
	text-align: center;
}
.menu li{
	padding: 1.5%;
}
.menu li a{
	font-size: 2em;
	color: #fff;
	padding: 1.5% 3%;

}
.menu li a:hover{
	border: 1px solid #DA6709;

}
/* Banner */
.banner{
	background: url('../img/bg.jpg');
}
.title{
	width: 100%;
}
.banner h2{
	font-size: 2.5em;
	color: #fff;
	font-weight: 700;

}
.buttons{
	width: 100%;
	margin-top: 2%;
}
.btn{
	width: 100%;
	font-size: 1.5em;
	text-align: left;
	cursor: pointer;
	padding: 5%;
}
.btn-cadastrar{
	color: #130400;

}

.btn-sobre{
	color: #fff;
	margin-top: 2%;
}
.buttons button i {
	float: right;

}	
/* Serviços */
.servicos{
	background-color: #f2f2f2;
}
.servico{
	width: 100%;
	text-align: left;
	margin-bottom: 3%;
}
.servico img{
	border-radius: 7px 7px 0 0;
}
.inner{
	padding: 7%;
}
.inner a {
	font-size: 1.5em;
	color: #130400;
	font-weight: 400;
}
.inner h4{
	font-size: 1.2em;
	color: #130400;
	margin-top: 2%;
}
.inner p{
	margin-top: 6%;
	color: #130400;
	line-height: 1.5em;

}
/* Newsletter */
.newsletter h2{
	font-weight: 700;

}
.newsletter h3{
	color: #fff;
}
.newsletter form{
	margin-top: 2%;
}
.newsletter input{
	width: 100%;
	padding: 5%;
	border: 1px solid rgba(255, 255, 255, 0.7);
	color: #FFF;
}
.newsletter button{
	width: 100%;
	color: #130400;
	padding: 5%;
	cursor: pointer;
	margin-top: 10px;	
}
/* Footer */
.social-icons a{
	font-size: 1.5em;
	color: rgba(255, 255, 255, 0.7);
	margin-right: 3%;
}
.social-icons a:last-child {
	margin-right: 0;

}
.social-icons a:hover{
	color: rgb(255, 255, 255);
}
.copyright{
	margin-top: 2%;
	color: rgba(255, 255, 255, 0.7);

}

/* Media Types */
@media screen and (min-width: 320px){


}
/* Small Devices - Smartphons */
@media screen and (min-width: 480px){
	.logo{
		width: 214px;

		background: url('../img/logo.png') no-repeat center center/214px;

	}
	.btn{
		font-size: 2em;
	}

}
/* Small Devices - Tablets */
@media screen and (min-width: 768px){
    .servico{
    	width: 49%;
    	float: left;
    	margin-right: 2%;
    }
    .servico:nth-child(2){
    	margin-right: 0;
    }
    .newsletter h2{
    	font-size: 2em;
    }
    .newsletter h3{
    	font-size: 1.5em;
    }
    .newsletter input{
    	width: 70%;
    	padding: 2%;
    	float: left;
    	margin-right: 1%;

    }
    .newsletter button{
    	width: 29%;
    	float: right;
    	padding: 2%;
    	margin-right: 0%;
    	margin-top: 0;
    }
}
/* Medium Devices - Tablets Desktops */
@media screen and (min-width:1024px){
	.title{
		width: 70%;
		float: left;
		text-align: left;
	}
	.title h2{
		font-size: 3em;

	}
	.title h3{
		font-size: 2em;
	}
    .buttons{
    	width: 30%;
    	float: right;
    	margin-top: 0;
    }
    .servico{
    	width: 32%;
    }
    .servico:nth-child(2){
    	margin-right: 2%;	
    }
    .servico:nth-child(3){
    	margin-right: 0%;	
    }
    .newsletter input{
    	width: 60%;
        float: none;		
    }
    .newsletter button{
    	width: 20%;
    	float: none;
    }

}
/* Big Devices - Desktops TV */
@media screen and (min-width:1280px){
	.btn-menu{
		display: none;
	}
	.btn-close{
		display: none;
	}
	.menu{

		display: block;
		background-color: #f5f5f5;
		width: auto;
		height: 56px;
		line-height: 56px;
		float: right;
		position: static;
		
	}
	.menu ul li{
		float: left;
		padding: 0;
	}
	.menu ul li a{
		color: #130400;
		font-size: 1.0em;
		padding: 15px;
	}
	.menu ul li a:hover{
		color: #DA6709 ;
		border: none;

	}
	
}